@model PaymentViewModel
@inject Pizzeria.Services.CartService CartService

@{
    ViewData["Title"] = "Receipt";
}

@{
    var cart = CartService.GetCart();
    var ingTotalPrice = @CartService.AddIngTotalPrice(@CartService.GetCartItemIng(cart.CartId));
}

<h2>Receipt</h2>
<br />
<h4>Thank you for your order @Model.CustomerName!</h4>
<br />
<div class="row">
    <div class="col-md-6">
        <table style="width:100%;border:double">
            <tr>
                <td style="width:30%;padding-left:5px"><h4>Total amount</h4></td>
                <td></td>
                <td></td>
                <td><h4>@CartService.CalculateTotal(ingTotalPrice)  kr</h4></td>
            </tr>
            <tr style="border-bottom:double">
                <td style="padding-left:5px"><h6 style="padding-top:0;margin-top:0">Additional ingredients</h6></td>
                <td></td>
                <td></td>
                <td><h6 style="padding-top:0;margin-top:0">(@ingTotalPrice kr)</h6></td>
            </tr>

            @foreach (var cartItem in cart.CartItems)
            {
                <tr>
                    <td style="width:70%;padding-left:5px">@cartItem.Dish.Name</td>
                    <td></td>
                    <td style="width:20%">@cartItem.Dish.Price  kr</td>
                    <td style="width:10%">x @cartItem.Quantity</td>
                </tr>
                    @if (cartItem.CartItemIngredients.Any())
                    {
                        <tr style="border-bottom:solid;border-width:thin">
                            <td style="width:70%;padding-left:5px;">
                                <h6 style="padding-top:0;padding-bottom:5px;margin:0">( + @string.Join(",  ", @CartService.GetCartItemIngName(cartItem.CartItemId)))</h6>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                    else
                    {
                        <tr style="border-bottom:solid;border-width:thin">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }}
        </table>
        </div>
    </div>

@{CartService.RemoveCart(cart.CartId);}

