@model IEnumerable<Pizzeria.Models.Order>
@inject Pizzeria.Services.OrderService OrderService

@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>

<table class="table">
    <thead>
        <tr style="width:100%">
            <th style="width:20%">
                @Html.DisplayNameFor(model => model.OrderDateTime)
            </th>
            <th style="width:20%">
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th style="width:20%">
                Address
            </th>
            <th style="width:20%">
                DIshes
            </th>
            <th style="width:20%">
                Total amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.OrderDateTime)</h5>
                </td>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.CustomerName)</h5>
                </td>
                <td>
                    <h5>@item.Street</h5>
                    <h5>@item.PostalCode</h5>
                    <h5>@item.City</h5>
                </td>
                <td>
                    @foreach (var cartItem in @item.Cart.CartItems)
                    {
                        <h5>@OrderService.GetDish(cartItem.DishId).Name  x @cartItem.Quantity</h5>
                        @if (@OrderService.GetAddIngs(cartItem.CartItemId) == null || @OrderService.GetAddIngs(cartItem.CartItemId).Any())
                        {
                            <h6>(+ @string.Join(", ", @OrderService.GetAddIngs(cartItem.CartItemId).Select(x => x.Name)))</h6>
                        }
                     }
                </td>
                <td>
                    <h5>@item.Cart.Total kr</h5>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
